.swiper-pagination .swiper-pagination-bullet {
    background-color: #82a9f5;
    width: .4rem;
    aspect-ratio: 1;
}

.swiper-pagination .swiper-pagination-bullet-active {
    background-color: #8fb4ff;
    width: .45rem;
    aspect-ratio: 1;
}